<!DOCTYPE html>
<html>
<head>
<!-- <link rel="stylesheet" href="style.css" /> -->

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Amministratore page</title>
</head>

<body>
	<div>
		<h4>Home Page Admin <h4>
		<div>
			<a th:href="@{/indexBuffet}"> Gestione Buffet</a>
		</div>
		<div>
			<a th:href="@{/indexPiatto}">Gestione Piatti</a>
		</div>
		<div>
			<a th:href="@{/indexIngrediente}"> Gestione Ingredienti</a>
		</div>
		<!-- <div>
			<a th:href="@{/piattoForm}">inserisci Piatto</a>
		</div> -->
		<!-- <div>
			 <a th:href="@{/persona}">Visualizza Buffet</a> 
		</div> -->
	</div>

</body>
</html>