<!DOCTYPE html>
<html>
<head>
<!-- <link rel="stylesheet" href="style.css" /> -->

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Amministratore page</title>
</head>

<body>
	<div>
		<h4>Home Page Admin <h4>
		<div>
			<a th:href="@{/admin/indexIngrediente}">Ingredienti</a>
		</div>
		<div>
			<a th:href="@{/admin/indexChef}">Chef</a>
		</div>
		<div>
			<a th:href="@{/admin/indexPiatto}">Piatti</a>
		</div>
		<div>
			<a th:href="@{/admin/indexBuffet}">Buffet</a>
		</div>

        <div>
		    <a th:href="@{/logout}">Logout</a>
		</div>

	</div>

 <footer>
 </footer>
</body>
</html>