<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>inserimento buffet</title>
</head>
<body>
	<form th:action="@{/admin/addBuffet}" method="POST" th:object="${buffet}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">Errore globale</p>
		</div>
		<div>
			nome: <input type="text" th:field="*{nome}" />
			<div>
				<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			</div>
		</div>
		<div>
			descrizione: <input type="text" th:field="*{descrizione}" />
			<div>
				<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
			</div>

		</div>
		<div>
			
            </div>
		</div>

		<div>
		   <label>Chef</label>
				<div>
					<th:block th:each="chef: ${tuttiGliChef}">
						<input 	type="radio"
						th:field="*{chef}"
						th:text="${chef.nome} + ${chef.cognome}" 
						th:value="${chef.id}">
					</th:block>
				</div>
				<div>
				   <span th:if="${#fields.hasErrors('chef')}"
					th:errors="*{chef}"></span>
				</div>
        </div>

		<div>
		   <label>Piatti</label>
				<div>
					<th:block th:each="piatto: ${tuttiIPiatti}">
						<input 	type="checkbox" 
						th:field="*{piatti}"
						th:text="${piatto.nome}" 
						th:value="${piatto.id}">
					</th:block>
				</div>
				<div>
				   <span th:if="${#fields.hasErrors('piatti')}"
					th:errors="*{piatti}"></span>
				</div>
        </div>
		<div>
			<button type="submit" />
			Conferma
		</div>
	</form>
</body>
</html>
