<!DOCTYPE html>
<html>
<head>
<!-- <link rel="stylesheet" href="style.css" /> -->

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Amministratore page</title>
</head>

<body>
	<div>
		<h4>Modifica Buffet <h4>
        <div>
		    <form th:action="@{/admin/updateBuffet/{id}(id=${buffet.id})}" th:object = "${buffet}" method="POST">
				<div>
					<label>Nome</label>
					<input
					    type = "text"
						name = "nome"
						th:field = "*{nome}"
						placeholder="Inserisci il nome" />
				</div>
						
				<div>
					<label>Descrizione</label>
					<input
						type = "text"
						name = "descrizione"
						th:field = "*{descrizione}"
						placeholder="Inserisci la descrizione"/>
				</div>
						
				<div>
					<button type="submit">Invia</button>
				</div>

			</form>
				
		</div>
    </div>

</body>
</html>