<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/css/buffet.css" />

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Catering Siw home page</title>
	</head>

<body>
	<div id="main">
		<header> 
		
		<!-- Barra di navigazione nel sito -->
		<nav>
   			<div class="buttoname">
   				<a th:href="@{/}"> HOME </a>
   			</div>
   			<!-- Buffet e chef a tendina -->
			<div class="tendina">
			  <button class="buttoname">BUFFET</button>
			  <div class="content" >
			    <a th:each="buffet : ${tuttiIBuffet}" th:href="@{'/user/buffet' + '/' + ${buffet.id}}" th:text="${buffet.nome}"></a>
			  </div>
			</div>

			<div class="tendina">
			  <button class="buttoname">CHEF</button>
			  <div class="content" >
			    <a th:each="chef : ${tuttiGliChef}" th:href="@{'/user/chef' + '/' + ${chef.id}}" th:text="${chef.nome} + ' ' + ${chef.cognome}"></a>
			  </div>
			</div>

			<div class="buttoname">
   				<a th:href="@{/}"> CONTATTI </a>
   			</div>

   			<div class="buttoname">
   				<a th:href="@{/login}"> ADMIN</a>
   			</div>

		
	    	</nav>
		
		</header>
	
	<div id="main_content">
		<h1 th:text="${buffet.nome}"></h1>
		<h3 th:text="${buffet.descrizione}"></h3>
		<div id="chef"> Chef:
		<a id="nome" th:href="@{'/user/chef' + '/'+${buffet.chef.id}}"th:text="${buffet.chef.nome}+' '+${buffet.chef.cognome}"></a>

		</div>


        <div id="desc">
        	Piatti proposti dallo chef <strong th:text="${buffet.chef.cognome} "> :</strong>
        </div>

		<ul>
			<li th:each="piatto : ${buffet.piatti}">

				<a th:href="@{'/user/piatto'+'/'+${piatto.id}}" th:text="${piatto.nome}"> </a>
			</li>

		</ul>

	</div>

</div>



	<footer>
		footer
	</footer>

	</body>
</html>