<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/css/piatto.css" />

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Catering Siw: dettagli piatto</title>
	</head>

<body>
	<div id="main">
		<header> 
		
		<!-- Barra di navigazione nel sito -->
		<nav>
   			<div class="buttoname">
   				<a th:href="@{/}"> HOME </a>
   			</div>
   			<!-- Buffet e chef a tendina -->
			<div class="tendina">
			  <button class="buttoname">BUFFET</button>
			  <div class="content" >
			    <a th:each="buffet : ${tuttiIBuffet}" th:href="@{'/user/buffet' + '/' + ${buffet.id}}" th:text="${buffet.nome}"></a>
			  </div>
			</div>

			<div class="tendina">
			  <button class="buttoname">CHEF</button>
			  <div class="content" >
			    <a th:each="chef : ${tuttiGliChef}" th:href="@{'/user/chef' + '/' + ${chef.id}}" th:text="${chef.nome} + ' ' + ${chef.cognome}"></a>
			  </div>
			</div>

			<div class="buttoname">
   				<a th:href="@{/user/contatti}"> CONTATTI </a>
   			</div>

   			<div class="buttoname">
   				<a th:href="@{/login}"> ADMIN</a>
   			</div>

		
	    	</nav>
		
		</header>
	
	<div id="main_content">
		<h1 th:text="${piatto.nome}"></h1>
		<h3 th:text="${piatto.descrizione}"></h3>

        <div id="desc">
        	Ingredienti presenti nel piatto:
        </div>

		<ul>
			<li th:each="ingrediente : ${piatto.ingredienti}">

				<a th:text="${ingrediente.nome} + ' (' + ${ingrediente.descrizione} + '). Origine: ' + ${ingrediente.origine}"> </a>
			</li>

		</ul>

	</div>

</div>

	<footer>
		<div id="container">
			<div class="contatti">
				<h2>CONTATTI</h2>

				<div>
			      <strong>Indirizzo:</strong> Via Cola di Rienzo, 123, 00192 Roma (RM) 
			    </div>

			    <div>
			    	<strong>Telefono:</strong> +39 3313508932
			    </div>

			    <div>
			    	<strong>Email:</strong> fabio.letizia01@gmail.com
			    </div>

			</div>
			<div class="contatti">
				<h2>SOCIAL</h2>
			    <div>
			    	<strong>Instagram:</strong> @siw_catering
			    </div>

			    <div>
			    	<strong>Facebook:</strong> Catering SIW a Roma
			    </div>
			</div>
		</div>
	</footer>

	</body>
</html>