
body {
  width: 100%;
  margin: 0;
  height: 100%;
}

#wrapper {
  background-image: url("/img/roma.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;
}

#content {
  background-color: rgba(225,225,225,0.5);
   min-height: 800px;
}

nav {
  display: flex;
  margin-right: 4%;
  justify-content: flex-end;
}

/* TENDINA */
/* Style The Dropdown Button */
.buttoname {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: none;
  font-size: large;
  font-family: sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.tendina {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.content a:hover {background-color: #f1f1f1}

.buttoname:hover {
    background-color: #3e8e41;
}

/* Show the dropdown menu on hover */
.tendina:hover .content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.tendina:hover .buttoname {
  background-color: #3e8e41;
}
/**/

a {
  color: black;
  text-decoration: none;
}

h1 {
  margin-top: 3%;
  text-align: center;
  color: #3e8e41;
}

.contatti_wrapper {
  display: flex;
    justify-content: space-evenly;
    padding: 5%;
    font-size: x-large;
    font-weight: bold;
}

.contatti {
  text-align: center;
}

#img {
  padding-right: 8%;
}

#social {
  display: flex;
  align-items: center;
}

#info {
  width: fit-content;
}

#mappa {
  text-align: center;
    padding: 2%;
}

iframe {
  height: 350px;
    width: 82%;
}





