<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/index.css" />

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Catering Siw home page</title>
</head>

<body>
	<div id="main">
	<header> 
		
		<!-- Barra di navigazione nel sito -->
		<nav>

   			<div class="buttoname">
   				<a th:href="@{/}"> HOME </a>
   			</div>
   			<!-- Buffet e chef a tendina -->
			<div class="tendina">
			  <button class="buttoname">BUFFET</button>
			  <div class="content" >
			    <a th:each="buffet : ${tuttiIBuffet}" th:href="@{'/user/buffet' + '/' + ${buffet.id}}" th:text="${buffet.nome}"></a>
			  </div>
			</div>

			<div class="tendina">
			  <button class="buttoname">CHEF</button>
			  <div class="content" >
			    <a th:each="chef : ${tuttiGliChef}" th:href="@{'/user/chef' + '/' + ${chef.id}}" th:text="${chef.nome} + ' ' + ${chef.cognome}"></a>
			  </div>
			</div>

			<div class="buttoname">
   				<a th:href="@{/user/contatti}"> CONTATTI </a>
   			</div>

   			<div class="buttoname">
   				<a th:href="@{/login}"> ADMIN</a>
   			</div>

		
	    </nav>
		
	</header>

	<div class="title">
				CATERING SIW SU ROMA 
			</div>

	</div>

	<div id="info">
		<h2> CATERING SIW SU ROMA </h2>
		In tutta Roma con top eventi catering, feste, matrimoni. 
		Scegli il catering per il tuo evento privato o aziendale.
		Vuoi organizzare un banchetto per dei festeggiamenti? Scegli la qualità con CateringSiw. Fai una richiesta, scegli il professionista più adatto a te! 
		Piatti a buffet cerimonia per al tua celebrazione.
	</div>

	<footer>
		<div>
			<div>
		      Indirizzo: Via Cola di Rienzo, 123, 00192 Roma (RM) 
		    </div>

		    <div>
		    	Telefono: +39 3313508932
		    </div>

		    <div>
		    	Email: fabio.letizia01@gmail.com
		    </div>

		    <div>
		    	Instagram: @siw_catering
		    </div>

		    <div>
		    	Facebook: Catering SIW a Roma
		    </div>

		</div>
	</footer>

</body>
</html>