<!DOCTYPE html>
<html>
<head>
<!-- <link rel="stylesheet" href="style.css" /> -->

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Amministratore page</title>
</head>

<body>
	<h4> INGREDIENTI </h4>
	<div>
		<ul>
	    <li th:each="ingrediente : ${ingredienti}">
	    	<a
	    		th:text="${ingrediente.nome} + ' (' + ${ingrediente.descrizione} + ')' + '.' "> Sale (grosso). </a>

	    		<span>
				  <a th:href="@{'/admin/mostraIngrediente' + '/' + ${ingrediente.id}}" ><button> Visualizza </button></a>

				  <a th:href="@{/admin/cancellaIngredienteDaPiatto/{id1}/{id2}(id1=${ingrediente.id}, id2=${piatto_id})}" ><button> Cancella </button></a>

				   <a th:href="@{'/admin/modificaIngrediente' + '/' + ${ingrediente.id}}" ><button> Modifica </button></a>
				</span>
			</li>
	    </ul>
	</div>
	<div>
		<a th:href="@{/admin/ingredienteForm/{id}(id=${piatto_id})}"> + AGGIUNGI INGREDIENTE A PIATTO </a>
	</div>

    <footer>
		<a href="/">Home</a>
	</footer>
</body>
</html>