<!DOCTYPE html>
<html>
<head>
<!-- <link rel="stylesheet" href="style.css" /> -->

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Amministratore page</title>
</head>

<body>
	<div>
		<h4>Dettagli Ingrediente</h4>
		<div>
			<span th:text="${ingrediente.nome}">Pepe</span>
			<span th:text="${ingrediente.descrizione}"> Nero romano</span>
			<span th:text="${ingrediente.origine}"> Lazio</span>
			
		</div>
	</div>
	<footer>
		<a href="/">Home</a>
	</footer>
</body>
</html>